@media (min-width: 300px) and (max-width: 768px) {
    .talk{
    
    }
   }
   /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
 
 }
 
 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
 
 
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
 
 
 }
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
 
 
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
 
    
 }
 



 @media screen and (min-width:250px) and (max-width:480px) {
    .category{
        grid-template-columns: repeat(1,1fr);
       
    }

   }
 
    /* Tablet View */
    /* @media screen and (min-width:481px) and (max-width:768px) {
        .category{
            grid-template-columns: repeat(1,1fr);
            margin-left: 100px;
            
        }
        .categorytitle{
            margin-left: 100px;
        }
   } */
    /* Laptop View */

    @media screen and (min-width:250px) and (max-width:480px) {
      
        .category{
            grid-template-columns: repeat(1,1fr);
            
           
           
        }
      
        }
      
         /* Tablet View */
         @media screen and (min-width:481px) and (max-width:768px) {
          
            .category{
                grid-template-columns: repeat(1,1fr);
               
            }
          }
        
         /* Laptop View */
         @media screen and (min-width:769px) and (max-width: 1280px) {
            .category{
                grid-template-columns: repeat(2,1fr);
              
            }
      
        }
        @media only screen and (min-width: 1281px) {
      
          
          
        }