@media screen and (min-width:250px) and (max-width:480px) {
    
    .bigsale{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 150px;
     }
}

 /* Tablet View */
 @media screen and (min-width:481px) and (max-width:768px) {
 
     .bigsaletitle{
         margin-left: 200px;
     }
     .bigsale{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 150px;
     }
}
 /* Laptop View */
 @media screen and (min-width:769px) and (max-width: 1280px) {
  
}